<!-- <p>form works!</p>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-use my formGroup(not others, only my created formGroup with directive, with value signupForm) = signupForm ...(this is property binding)(Now, this template .html form is synchronize with the typeScript form in the Component)-->
          <!-- <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" required>
            <span *ngIf="!contactForm.get('firstName').valid && contactForm.get('firstName').touched"
              class="help-block">Pls enter a valid firstName</span> <br /> -->
            <!-- moze i vaka, a moze i vaka: [formControlName]="'username'" but that is more complex-->

            <!-- <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" required>
            <span *ngIf="!contactForm.get('lastName').valid && contactForm.get('lastName').touched"
              class="help-block">Pls
              enter a valid last name</span> <br />

            <label for="email">email:</label>
            <input type="text" id="email" class="form-control" formControlName="email" required>
            <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched" class="help-block">Pls
              enter
              a valid email</span> <br />

            <label for="phone">Phone:</label>
            <input type="number" id="phone" class="form-control" formControlName="phone" required>
            <span *ngIf="!contactForm.get('phone').valid && contactForm.get('phone').touched" class="help-block">Pls
              enter
              a valid phone number</span> <br />

          </div> -->

          <!--na browser vo devTools->Element, pri klik na input poleto za email gledam deka Angularot si dodava avtomatski novi klasi kako ng-pristine, ng-valid itn...isto taka si dodava i direktivi vo html, head,body..S-->

          <!-- <button class="btn btn-primary" type="submit">Add</button>

        </form>
      </div>
    </div>
  </div> --> 
